.cardB {
    margin-top: 100px;
    width: 800px;
}

.Home {
    margin-left: 100px;
}

.login {
    margin-right: 100px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.urlI {
    height: 35px;
}

.job-card {
    margin-bottom: 100px;
}